@model List<Menu>

<a asp-action="MenuCreate" asp-controller="Admin" class="btn btn-primary">Create</a>

@foreach (var dish in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">@dish.DishName</h5>
            <p class="card-text">Id: @dish.Id</p>
            <p class="card-text">Description: @dish.Description</p>
            <p class="card-text">Price: @dish.Price</p>
            <p class="card-text">IsFavorite: @dish.IsFavorite</p>
            <p class="card-text">IsAvailable: @dish.IsAvailable</p>
            <a asp-controller="Admin" asp-action="MenuEdit" asp-route-id=@dish.Id class="btn btn-warning">Edit</a>
            <form metod="post" asp-action="Delete" style="display:inline;">
                <input type="hidden" name="id" value="@dish.Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
}
